<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <!--<link rel="stylesheet" href="styles.css">-->
</head>
<body>
    <h1>Lista de Tareas</h1>
    <div class="controls">
        <button id="addBtn">Añadir tarea</button>
        <button id="addSpecialBtn">Añadir tarea especial</button>
        <button id="addImageBtn">Añadir tarea con imagen</button>
        <button id="deleteBtn">Eliminar tarea</button>
    </div>
    <div id="taskContainer"></div>
    <script src="../Dynamics/js/listaTareas.js"></script>
</body>
</html>